<!DOCTYPE html>
<html>
<head>
    {% load static %}
		<title> Chico iRepair Customer Database</title>
		{% include "bootstrap.html" %}
		<link href="{%static 'styles.css' %}" rel="stylesheet" type="text/css" />
		<script type = "text/javascript" src="{%static 'myscripts.js' %}"></script>
</head>
<body>
  {% include "nav.html" %}
  <h1 class="jumbotron"> Create WorkOrder</h1>
  <div class="container h-100">
    <img src="{%static 'logo.jpg' %}" alt="logo" align="right">
    <div class="row h-200 justify-content-right align-items-right">
      <div class="col-11 col-md-11 col-lg-11">
  <div id="Buttons" class="jumbotron">
  <form method="POST"  >{% csrf_token %}
    <div class="div-to-align">
        {{cust_form.as_p}}
        {{dev_form.as_p}}
        {{work_form.as_p}}
    <button class="btn btn-primary" type="submit" name="workSubmit">Submit Customer</button>
  </div>
  </form>
</div>
</div>
</div>
</div>
<div>
<h2 class="jumbotron">{{toggleHeader}}</h2>
<a class="btn btn-warning" href="/completeTog/" >Toggle Completed</a>
<a class="btn btn-success" href="/pickTog/" >Toggle PickedUp</a>
<table id="taskstable" align="center" class="">
    <th>Work Order id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Date brought in</th>
    <th>Device Name</th>
    <th>Type of Repair</th>
    <th>Completed</th>
    <th>Picked Up</th>
    <th>Employee</th>
    {% for row in workDict %}
    <tr>
    {% for key, value in row.items %}
      {% if key == 'Completed' %}
      <td><a id='flipcomp' href="/flip/{{row.id}}">{{value}}</a></td>
      {% elif key == 'PickedUp' %}
      <td><a id='flippick' href="/flippick/{{row.id}}">{{value}}</a></td>
      {% else %}
      <td id="{{key}}">{{value}}</td>
      {% endif %}
    {% endfor %}
  </tr>
    {% endfor %}
  </table>
</div>
</body>
</html>
