<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Customer Registration</a></li>
      <li><a href="{% url 'device' %}">Device Registration</a></li>
      <li><a href="{% url 'WorkOrder' %}">Create Workorder</a></li>
      <li><a href="{% url 'data' %}">data</a></li>
    </ul>
  </div>
</nav>
